<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.IUserDao" >
  <resultMap id="BaseResultMap" type="com.cn.hnust.pojo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="role_id" property="role_id" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="last_date" property="last_date" jdbcType="DATE" />
    <result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USERNAME, PASSWORD, ROLE_ID, REALNAME, LAST_DATE, REMARK,email
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insertSelective" parameterType="com.cn.hnust.pojo.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
       id,
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="role_id != null" >
        role_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="last_date != null" >
        last_date,
      </if>
      <if test="email != null" >
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      SEQ_T_USER.Nextval,
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="role_id != null" >
        #{role_id,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="last_date != null" >
        #{last_date,jdbcType=DATE},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.User" >
    update t_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="role_id != null" >
        role_id = #{role_id,jdbcType=VARCHAR},
      </if>
      <if test="last_date != null" >
        last_date = #{last_date,jdbcType=DATE},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <!-- 登录所用的查询 -->
  <select id="findByLogin" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from t_user 
    where 1=1 
    <if test="id != null" >
      and ID = #{id,jdbcType=DECIMAL}
    </if>
    <if test="username != null" >
      and username = #{username,jdbcType=DECIMAL} 
    </if>
    <if test="password != null" >
      and password = #{password,jdbcType=DECIMAL}
    </if>
    <if test="email != null" >
      and email = #{email,jdbcType=VARCHAR} 
    </if>
    order by id desc
  </select>
  
  <select id="findAllCount" resultType="int" parameterType="map">
  	select count(*) from t_user 
  	where 1=1 
    <if test="id != null" >
      and ID = #{id,jdbcType=DECIMAL}
    </if>
    <if test="username != null" >
      and username like '%${username}%' 
    </if>
    <if test="realname != null" >
      and realname like '%${realname}%' 
    </if>
    <if test="email != null" >
      and email = #{email,jdbcType=VARCHAR} 
    </if>
    order by id desc
  </select>
  
  <!-- 查询 -->
  <select id="findByParams" resultMap="BaseResultMap" parameterType="map" >
    select
     <include refid="Base_Column_List" />
    from t_user TB
    where 1=1 
    <if test="id != null" >
      and ID = #{id,jdbcType=DECIMAL}
    </if>
    <if test="username != null" >
      and username like '%${username}%' 
    </if>
    <if test="realname != null" >
      and realname like '%${realname}%' 
    </if>
    <if test="email != null" >
      and email = #{email,jdbcType=VARCHAR} 
    </if>
    order by id desc
  </select>
  
</mapper>